@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Noto+Serif+NP+Hmong:wght@600&family=Open+Sans:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.section {
	padding: 48px 0;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

h1 {
	line-height: 150px;
}

ol, ul, menu{
    list-style: none;
}

header {
	min-height: 80px;
	padding: 20px;
}

.row{
    display: flex;
    justify-content: center;
}

.card{
    flex-basis: calc(100% / 3);
}

figure{
    position: relative;
}

.heart{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    text-align: center;
}

.info-products{
    display: flex;
    height: 15px;
    color: white;
    font-weight: 600;
    font-size: 10px;
    justify-content: center;
    position: absolute;
    bottom: 30px;
}

.discount-percent{
    width: 40px;
    background-color: red;
}

.sustainability{
    background-color: green;
    width: 70px;
    left: 45px;
}

.card-text{
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}

.description{
    font-weight: 600;
}

.brand, .price{
    font-size: 15px;
}

.new-price{
    color: red;
    font-weight: 600;
}

.discount{
    text-decoration: line-through;
}